@import "../General/variables";

#faq-article {
  margin-top: calc(1.5rem + 5vh);
  //   width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 0;
  }

  > p {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: calc(1.5rem + 5vh);
  }
}

#faq-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
  gap: 5vw;
  margin: 0 10vw 0 10vw;

  img {
    max-height: 2rem;
    margin-right: 1rem;
  }

  h3 {
    margin: 0;
  }

  > div {
    padding: 1rem;
    display: inline-flex;
    box-shadow: 0.3rem 0.3rem 1rem 0 rgba($main-text, 0.3);
    border-radius: 1rem;
    align-items: center;
    transition: 0.5s;

    &:hover {
      box-shadow: 0.3rem 0.3rem 1rem 0 rgba($main-text, 0.6);
    }

    div {
      height: 100%;
    }

    p {
      margin-bottom: 0;
    }
  }
}
