@import "../General/variables";

#Navigation-Article {
  padding: 5vh 10vw 5vh 10vw;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: calc(1rem + 15vh);

  background: rgba(255, 187, 142, 0.25);
}

#navigation-main-content {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
  transition: 0.35s;
}

#option-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 15rem;
  min-width: 15rem;
  gap: 1rem;

  button {
    width: 100%;
    min-width: 9rem;

    transition: 0.35s;
    margin: 0;
  }
}

.selected-button {
  transition: 0.35s;
  background-color: $main-text !important;
  color: white !important;
}

#option-description {
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;

  h3 {
    margin-top: 0;
  }

  a {
    display: inline-block;
    margin: 0;
  }
}
