@import "_variables.scss";

@font-face {
  font-family: "Roboto";
  src: url(../utils/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "PoppinMed";
  src: url(../utils/fonts/Poppins-Medium.ttf);
}

// h1,
// h2,
// h3,
// div {
//   width: fit-content;
// }

#main-article {
  background: rgb(255, 160, 97);
  background: linear-gradient(
    165deg,
    rgba(255, 160, 97, 0.3) 0%,
    rgba(255, 231, 216, 0.1) 25%,
    rgba(255, 187, 142, 0) 50%,
    rgba(255, 160, 97, 0.1) 75%,
    rgba(255, 160, 97, 0.3) 100%
  );
}

#main-article {
  font-family: "Roboto", sans-serif;

  display: inline-flex;
  padding-bottom: 10vh;
  justify-content: space-between;
  gap: 5vw;
  width: 100vw;
  height: 80vh;
  align-items: center;

  > :first-child {
    margin-left: 7vw;
  }

  > :last-child {
    margin-right: 7vw;
  }

  img {
    height: 50vh;
  }
}

#buttons > button {
  font-family: "PoppinMed", sans-serif;
  font-size: 1.2rem;
  color: $main-text;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0.3rem 0.3rem 1rem 0 rgba($main-text, 0.3);
  // &:last-child {
  //   border: 2px solid $accent;
  // }
}

#buttons .border-special {
  margin-right: 0;
  border: 2px solid $accent;
  padding: 0.5rem;
  border-radius: 1rem;

  &::before {
    content: "";
    border: none;
  }
}
