@import "_variables.scss";

@font-face {
  font-family: "PoppinMed";
  src: url(../utils/fonts/Poppins-Medium.ttf);
}

// @font-face {
//   font-family: "Poppin";
//   src: url(../utils/fonts/Poppins-Regular.ttf);
// }

nav {
  // background-color: #f0f0f0; //dev only
  border-bottom: 1px solid #fafafa;

  margin: 0;
  padding: 0;
  width: 100vw;

  display: inline-flex;
  justify-content: space-evenly;
  // gap: 25%;

  align-items: center;
}

nav > ul > li {
  font-family: "PoppinMed", sans-serif;
  font-size: 1.5rem;

  cursor: pointer;
  display: inline;
  margin-right: 4rem;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 70%;
    // height: 1;
    bottom: 0;
    left: 15%;
    border-bottom: 2px solid $main-text;

    transition: all 0.5s;
  }

  &:hover::before {
    transition: all 0.5s;
    width: 110%;
    left: -5%;

    border-bottom-color: $accent;
  }
}

.border-special {
  margin-right: 0;
  border: 2px solid $accent;
  padding: 0.5rem;
  border-radius: 1rem;

  &::before {
    content: "";
    border: none;
  }
}

nav > img {
  max-height: 5rem;
  padding: 0.5rem;
  cursor: pointer;
}
