@import "styles/General/variables";
@import "styles/General/base";
@import "styles/General/footer";
@import "styles/General/navbar";
@import "styles/Home/faqArticle";
@import "styles/Home/mainArticle";
@import "styles/Home/navigationArticle";
@import "styles/Report/form";
@import "styles/Report/info";
@import "styles/AdminPanel/viewer";
@import "styles/AdminPanel/categoryPanel";
@import "styles/AdminPanel/mainWindow";
@import "styles/AdminPanel/reportView";
@import "styles/AdminPanel/usersView";
@import "styles/Login/loginContainer";
@import "styles/Login/registerForm";
@import "styles/utils/loadingScreen";
