.report-viewer {
  &__panel {
    box-shadow: $box-shadow-normal;
    margin-bottom: 2rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    width: 100%;
    height: auto;
    overflow: auto;
    min-width: 600px;

    &::-webkit-scrollbar {
      width: 1.4rem;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 1rem;
      margin-block: 2rem;
      margin-block-start: 7rem;
      border: 0.2rem solid white;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 1rem;
      box-sizing: border-box;
      border: 0.2rem solid white;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      border-radius: 1rem;
      margin: 25%;
    }

    & hr {
      border: none;
      border-bottom: 2px solid $accent;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & h2 {
        display: inline;
      }

      & .reload-button {
        border: 2px solid $accent;
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: white;

        font-size: 1rem;
        color: $main-text;
        cursor: pointer;
      }
    }

    &__content {
      //   height: fit-content;
    }
  }
}
