.report-viewer__panel {
  &__users {
    display: flex;
    flex-direction: column;
  }

  &__user {
    display: flex;
    flex-direction: row;
    // gap: 2rem;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0.3rem 1rem;

    &:nth-child(2n + 2) {
      background-color: $subtle-background-color;
    }

    > div {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }
}
