.report-viewer__panel {
  &__users {
    display: flex;
    flex-direction: column;
    min-width: 750px;
  }

  &__user {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr auto;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0.3rem 0.3rem 1.3rem;
    gap: 1rem;

    &:nth-child(even) {
      background-color: $subtle-background-color;
    }

    > div {
      display: contents;
    }
  }

  button {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: $main-text;
    color: white;
    cursor: pointer;
  }
}
