.report-viewer {
  //   display: grid;
  //   grid-template-columns: 12rem 1fr;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 2rem;
  height: 80vh;
  max-height: 80vh;
  // height: max-content;
}
