.report-viewer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 2rem;
  min-height: fit-content;

  @media (max-width: 1024px) {
    flex-direction: column;
    margin-right: 0;
  }

  &__solved {
    opacity: 0.6;
  }

  &__button {
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: $main-text;
    color: white;
    cursor: pointer;
  }

  &__add-sample {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem 0.3rem 0.3rem 1.3rem;
    background-color: darken($color: $subtle-background-color, $amount: 10);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
  }
}
