@import "../General/variables";

#info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.grid-form {
  display: grid;
  grid-template-columns: 2fr 3fr;

  width: 80vw;
  padding: 0 !important;

  @media (max-width: 724px) {
    grid-template-columns: 1fr;
  }

  .description-segment {
    width: 100%;
    grid-row: 3;
    grid-column: 1/-1;
  }

  #submit-button {
    grid-row: 4;
    grid-column: 2/-1;
    padding: 0.5rem;
    border: 1px solid $main-text;
    border-radius: 1rem;
    background-color: $main-text;
    color: white;

    &:active {
      background-color: $accent;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  .form-side {
    h2 {
      padding-left: 2rem !important;
      margin-bottom: 0;
    }
  }

  #icon-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: rgba(255, 187, 142, 0.25);
    border-radius: 1rem 0 0 1rem;
    padding: 2rem;
    color: $main-text;

    img {
      max-width: 5rem;
    }
  }
}
