.register-grid-form {
  display: grid;
  grid-template-columns: 2fr 3fr;

  width: 80vw;
  padding: 0 !important;

  max-width: 1200px;
}

.register-form {
  margin: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;

  &__element {
    width: calc(50% - 0.5rem);
  }

  .button {
    grid-column: 1 / -1;
    margin: 0;
  }
}
