@import "_variables.scss";

@font-face {
  font-family: "PoppinMed";
  src: url(../utils/fonts/Poppins-Medium.ttf);
}

// @font-face {
//   font-family: "Poppin";
//   src: url(../utils/fonts/Poppins-Regular.ttf);
// }

nav {
  // background-color: #f0f0f0; //dev only
  // border-bottom: 1px solid #fafafa;

  margin: 0;
  padding: 0;
  width: 100%;

  display: inline-flex;
  justify-content: space-around;
  // gap: 25%;

  align-items: center;

  ul {
    :last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: $main-text;
  }

  img {
    max-height: 5rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  > ul li {
    font-family: "PoppinMed", sans-serif;
    font-size: 1.2rem;

    cursor: pointer;
    display: inline;
    margin-right: 5vw;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 70%;
      bottom: -3px;
      left: 15%;
      border-bottom: 2px solid $main-text;

      transition: all 0.5s;
    }

    &:hover::before {
      transition: all 0.5s;
      width: 110%;
      left: -5%;

      border-bottom-color: $accent;
    }
  }
}

.border-special {
  margin-right: 0;
  border: 2px solid $accent;
  padding: 0.5rem;
  border-radius: 1rem;

  &::before {
    content: "";
    border: none;
  }
}
