@import "../General/variables.scss";

footer {
  padding: 1rem 0 1rem;
  background-color: darken($color: $main-text, $amount: 0);
  color: white;

  // display: flex;
  // justify-content: space-around;

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    div {
      width: 80%;
    }
  }

  p {
    margin: 0;
  }

  li {
    display: list-item;
    list-style-type: none;

    a {
      text-align: center;
      font-size: 1rem;
    }
  }
}

#links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  a {
    color: white;
  }
}

#copyrights-message {
  margin-top: 2rem;
  color: rgb(182, 151, 107);
  text-align: center;
}
