@import "../General/variables";

@font-face {
  font-family: "PoppinMed";
  src: url(../utils/fonts/Poppins-Medium.ttf);
}

// @font-face {
//   font-family: "Poppin";
//   src: url(../utils/fonts/Poppins-Regular.ttf);
// }

nav {
  margin: 0;
  padding: 0 calc(4% + 1rem);
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 800px) {
    justify-content: space-around;
  }

  ul {
    :last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: $main-text;
  }

  img {
    max-height: 5rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  @media (max-width: 800px) {
    position: absolute;
    background-color: white;
    padding: 0;
  }

  .navbar-extender {
    display: none;
    background: none;
    border: none;

    img {
      width: 80%;
    }

    @media (max-width: 800px) {
      display: block;
    }
  }

  .navbar-links {
    @media (max-width: 800px) {
      display: none;
    }
  }

  .navbar-user {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: 800px) {
      display: none;
    }
  }

  .navbar-small {
    display: none;
    @media (max-width: 800px) {
      position: absolute;

      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;

      width: 100%;
      margin: 0;
      margin-top: 14rem;
      padding: 1rem 0;

      background-color: white;
    }
  }

  @media (max-width: 800px) {
    .border-special {
      border: none;
      padding: 0;
    }
  }

  ul li {
    font-family: "PoppinMed", sans-serif;
    font-size: 1.2rem;

    cursor: pointer;
    display: inline;
    margin-right: 5vw;

    @media (max-width: 800px) {
      margin-right: 0;
    }

    position: relative;

    &::before {
      content: "";
      position: absolute;

      width: 70%;
      bottom: -3px;
      left: 15%;
      border-bottom: 2px solid $main-text;
      @media (max-width: 800px) {
        left: 50%;
        width: 0;
      }

      transition: all 0.5s;
    }

    &:hover::before {
      transition: all 0.5s;
      width: 110%;
      left: -5%;

      border-bottom-color: $accent;
    }
  }
}

.border-special {
  margin-right: 0;
  border: 2px solid $accent;
  padding: 0.5rem;
  border-radius: 1rem;

  &::before {
    content: "";
    border: none;
  }
}

.hide {
  @media (max-width: 800px) {
    display: none !important;
  }
}
