$main-text: #642a03;
$light-text: #dc6b20;

$dark-accent: rgb(208.932038835, 87.7514563107, 6.267961165);
$accent: #fa8334;
$accent-no: #ffa061;

$subtle-background-color: rgba(255, 187, 142, 0.25);

$box-shadow-normal: 0.3rem 0.3rem 1rem 0 rgba(100, 42, 3, 0.3);
